:root {
  --primaryFont: "Avenir", Helvetica, Arial, sans-serif;
  --cyanBlue: #2c3e50;
  --lightAshColor: #dde2e9;
  --whiteColor: #ffffff;
  --overLay: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--cyanBlue);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

input {
  outline: none;
  border: none;
}

h1,
p,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

//added with javascript
.zero-opacity {
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

//added with javascript
.add-opacity {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
